<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About iCesspool</title>
</head>

<body style="text-align: justify;">
    <h3>About iCesspool</h3>
    <p> iCesspool Limited owns this software application developed to provide end-to-end service chain monitoring of
        Septage Emptying and Transportation Services in Ghana. It is carefully tailored to assist households in the
        comfort of their homes locate the nearest vacuum truck to provide de-sludging services, manage the service cost,
        monitor compliance with industry code of conduct alongside maintaining standard occupational, Social, Health and
        Safety Standards in our Operations. We track our Service Providers to prevent indiscriminate dumping of Fecal
        Sludge at unapproved points.
    </p>
    <h4>iCesspool support contacts</h4>
    <p>+233501411644</p>
    <p>+233209125718</p>

</body>

</html>