{{>header}}

<div class="page-content">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
      <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
        <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
        <input type="text" class="form-control" disabled>
      </div>
      {{!-- <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
        <i class="btn-icon-prepend" data-feather="download"></i>
        Import
      </button>
      <button type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="printer"></i>
        Print
      </button>
      <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="download-cloud"></i>
        Download Report
      </button> --}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow">
        <div class="col-md-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Providers</h6>

              </div>
              <div class="row">
                <div class="col-8 col-md-12 col-xl-10">
                  <h3 class="mb-2" id="providersTotalCount"></h3>
                  <div class="d-flex align-items-baseline">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Active</th>
                            <th>Inactive</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>
                              <h4 id="activeProvidersCount" style="color: green;"></h4>
                            </th>
                            <th>
                              <h4 id="inactiveProvidersCount" style="color: red;"></h4>
                            </th>
                          </tr>

                        </tbody>
                      </table>
                    </div>


                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-2">
                  <i class="link-icon feather-64" style="color: blue;" data-feather="star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Clients</h6>

              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-10">
                  <h3 class="mb-2" id="clientsTotalCount"></h3>
                  <div class="d-flex align-items-baseline">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Active</th>
                            <th>Inactive</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>
                              <h4 id="activeClientsCount" style="color: green;"></h4>
                            </th>
                            <th>
                              <h4 id="inactiveClientsCount" style="color: red;"></h4>
                            </th>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-2">
                  <i class="link-icon feather-64" style="color: red;" data-feather="users"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Transactions</h6>

              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-10">
                  <h3 class="mb-2" id="transactionsTotalCount"></h3>
                  <div class="d-flex align-items-baseline">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Offer made</th>
                            <th>Offer in place</th>
                            <th>Offer closed</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>
                              <h4 id="offerMadeCount" style="color: red;"></h4>
                            </th>
                            <th>
                              <h4 id="offerInplaceCount" style="color: rgb(255, 136, 0);"></h4>
                            </th>
                            <th>
                              <h4 id="offerClosedCount" style="color: green;"></h4>
                            </th>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-2">
                  <i class="link-icon feather-64" style="color: green;" data-feather="bar-chart-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- row -->
</div>

{{>footer}}

</div>
</div>

<!-- core:js -->
<script src="/vendors/core/core.js"></script>
<!-- endinject -->

<script src="/vendors/chartjs/Chart.min.js"></script>
<script src="/vendors/jquery.flot/jquery.flot.js"></script>
<script src="/vendors/jquery.flot/jquery.flot.resize.js"></script>
<script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/vendors/progressbar.js/progressbar.min.js"></script>

<!-- plugin js for this page -->
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/js/template.js"></script>

<script src="/js/data-table.js"></script>
<!-- custom js for this page -->
<script src="/js/dashboard.js"></script>
<script src="/js/datepicker.js"></script>
<!-- end custom js for this page -->
<!-- endinject -->
<!-- custom js for this page -->
<!-- end custom js for this page -->
<script src="/js/custom/loadingoverlay.min.js"></script>

<script src="/js/custom/dashboard-controller.js"></script>
<script>
  feather.replace()
</script>
</body>


</html>