<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iCesspool</title>
  <!-- core:css -->
  <link rel="stylesheet" href="/vendors/core/core.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- end plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/fonts/feather-font/css/iconfont.css">
  <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">

  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper full-page">
      <div class="page-content d-flex align-items-center justify-content-center">

        <div class="row w-100 mx-0 auth-page">
          <div class="col-md-8 col-xl-6 mx-auto">
            <div class="card">
              <div class="row">
                <div class="col-md-4 pr-md-0">
                  <div class="auth-left-wrapper">

                  </div>
                </div>
                <div class="col-md-8 pl-md-0">
                  <div class="auth-form-wrapper px-4 py-5">
                    <a href="#" class="noble-ui-logo d-block mb-2"><span>i</span>Cesspool</a>
                    <h5 class="text-muted font-weight-normal mb-4">Welcome back! Log in to your account.</h5>
                    <form class="needs-validation" novalidate method="POST" id="loginForm">
                       <div class="form-group">
                        <p id="errorMsg" style="color:red;display:none">Wrong username or password. Please try again</p>
                       </div>

                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        {{!-- <div class="invalid-tooltip">
                          Email address is required
                        </div> --}}
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                          required>
                        {{!-- <div class="invalid-tooltip">
                          Password is required
                        </div> --}}
                      </div>
                      {{!-- <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          Remember me
                        </label>
                      </div> --}}
                      <div class="mt-3">
                        {{!-- <input class="btn btn-primary" type="submit" value="Submit"> --}}
                        <button class="btn btn-success" type="submit">Login</button>

                      </div>
                      {{!-- <a href="register.html" class="d-block mt-3 text-muted">Not a user? Sign up</a> --}}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- core:js -->
  <script src="/vendors/core/core.js"></script>
  <script src="/vendors/jquery-validation/jquery.validate.min.js"></script>

  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- end plugin js for this page -->
  <!-- inject:js -->
  <script src="/vendors/feather-icons/feather.min.js"></script>
  <script src="/js/template.js"></script>


  <script src="/js/custom/toast-master/js/jquery.toast.js"></script> 

  <script src="/js/custom/loadingoverlay.min.js"></script>


  {{!--
  <script src="/js/form-validation.js"></script> --}}

  <!-- endinject -->
  <!-- custom js for this page -->
  <!-- end custom js for this page -->

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            event.preventDefault();

            if (form.checkValidity() === false) {
              event.stopPropagation();
            } else {

              $.LoadingOverlay("show");
              $.ajax({
                type: "POST",
                url: '/login',
                cache: false,
                data: $(this).serialize(),
                success: function (response) {
                  $.LoadingOverlay("hide");

                  const statusCode = response.statusCode   
                                 console.log(statusCode)

                  if (statusCode == 1) {
                    document.getElementById("errorMsg").style.display = "none";

                    location.replace("/2fa");
                  } else {
                    const message = `Please check your user credentials`
                    const title = 'Wrong credentials'

                                       document.getElementById("errorMsg").style.display = "block";

                  }

                },
                error: function (e) {
                  $.LoadingOverlay("hide");
                  console.log(e)

                }
              });
            }

            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();






    function showSuccessToast(title, message) {
      $.toast({
        heading: title,
        text: message,
        position: 'top-right',
        bgColor: '#04c935',
        loaderBg: '#f77f00',
        icon: 'success',
        hideAfter: 5000,
        stack: 6
      })
    }


    function showWarningToast(title, message) {
      $.toast({
        heading: title,
        text: message,
        position: 'top-right',
        loaderBg: '#f77f11',
        bgColor: '#f77f00',
        icon: 'warning',
        hideAfter: 5000,
        stack: 6
      })
    }
  </script>
</body>

</html>