{{>header}}

<div class="page-content">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Profile</h6>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" class="form-control" id="surname" name="surname" autocomplete="off"
                                    placeholder="Enter surname" required disabled value="{{data.surname}}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="otherNames">Other names</label>
                                <input type="text" class="form-control" id="otherNames" name="otherNames"
                                    autocomplete="off" placeholder="Enter other name(s)" required disabled
                                    value="{{data.otherNames}}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                    disabled value="{{data.email}}">
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <div class="form-group">
                                <label for="phoneNumber">Phone number</label>
                                <input type="phone" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Phone number" required disabled value="{{data.phoneNumber}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Change Password</h6>
                    <form class="forms-sample" method="POST">

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="password">Enter current password</label>
                                    <input type="password" class="form-control" id="currentPassword" name="password"
                                        placeholder="Password(At least 8 characters)" required>
                                </div>
                            </div>
                            <div class="col-sm-3">

                                <div class="form-group">
                                    <label for="repeatPassword">Enter new password</label>
                                    <input type="password" class="form-control" id="newPassword"
                                        name="repeatPassword" placeholder="Enter new password here" required>
                                </div>
                            </div>
                            <div class="col-sm-3">

                                <div class="form-group">
                                    <label for="repeatPassword">Enter new password</label>
                                    <input type="password" class="form-control" id="repeatPassword"
                                        name="repeatPassword" placeholder="Repeat password here" required>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="save" class="btn btn-primary mr-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}

</div>


<!-- core:js -->
<script src="/vendors/core/core.js"></script>
<!-- endinject -->

<!-- plugin js for this page -->
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/js/template.js"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="/js/data-table.js"></script>
<!-- end custom js for this page -->
<!-- end custom js for this page -->
  <script src="/js/custom/loadingoverlay.min.js"></script>

<script src="/js/custom/profile-controller.js"></script>

</body>


</html>