<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms of use</title>
</head>
<body style="text-align: justify;">
<h3>iCesspool Terms of Service</h3>
<h4>Welcome to iCesspool.net</h4>
<p>The following terms of service (these “terms of service”), govern your access to and use of the iCesspool Website, including any content, functionally and service offered on or through www.icesspool.net (the site) by iCesspool Limited and with respect to payment processing services. </p>

<p>Please read Terms of services carefully before you start to use the site. By using the site, opening an account or by clicking to accept to the Terms of service when this option is made available to you, you accept and agree to the terms of service and our Privacy Policy, found here, incorporated herein by reference.  If you do not want to agree to these Terms of Service or Privacy Policy, you must not access or use the site, please access the designated articles herein. </p>

<p>This site is offered and available to user who are 17 years of age or older.  If you are under 17 you may not this site or the iCesspool services.  By using the site, you warrant that you are of legal age to form a binding contract and meet all the fore binding eligibility requirements. If you do not meet all of these requirements, you must not access or use the site. </p>

<p>Our customer, support team is available 24/7 if you have any questions regarding the site of service. Contacting out customer support team can be performed by submitting a request. </p>

<h4>Key Terms </h4>

<p>Customers:  are users who purchase an offer or request the service on iCesspool. </p>

<p>Service Provider: are users who offer de-sludging service and perform services through iCesspool. </p>

<p>Offers: are request made by a customer to receive a de-sludging service from Liquid Waste Service Provider. </p>
<p>Payment Services Provider(s): are Service Providers that provide payment services to Customers and Service Providers in connection with the iCesspool platform, including with respect to collecting of funds from customers in connecting with the purchase of service, remittance and withdrawal of funds to Service Providers in connection with completed offers and the holding of funds in connection will iCesspool balances. </p>
<p>Revenue: is the money the Service Provider earn from completed offers and can either withdraw or keep in their individual iCesspool accounts to withdraw at a later time of their choice. </p>
<p>Offer Page: This is where customers and service providers communicable with each other during the Offer period. </p>
<h4>Main Terms</h4><br>
	Only registered customers can make or request an offer on iCesspool.net 
NB. Registration is free. <br>

	Offers on iCesspool may be offered at carefully designed pricing formula which takes into consideration both volumetric and kilometric characteristics of that particular operation to determine the service cost. Meaning; an offer with service point closer to the the signed treatment site will cost lesser than the farther service point. Also, an offer with more volume of septage will pay higher than an offer with less Septage volume. <br>

	Customers pay iCesspool in advance to purchase a service (see purchasing section below regarding terms). <br>

	Offers are purchase through the “make offer” button found on the customer’s offer page. <br>

	Service provider must fulfill their accepted offer, and may not cancel Offers on a regular basis or without cause. Canceling offers will affect service provider’s reputation and status. <br>

	Service Provider must not accept payment using any method other than placing an offer through iCesspool.net <br>

	iCesspool retains the right to use all completed offers for iCesspool marketing and promotions. <br>

	We care about your privacy here.  The privacy is a part of these Terms and incorporated herein by reference. <br>
<h4>Service Providers</h4> 
	Service providers are operators of cesspool/cesspit emptying vehicle registered on iCesspool 60 providers de-sludging services. <br>

	Each offer you complete successfully, your iCesspool account with your net revenue of 85% of the service charge is credited. <br>

	iCesspool accredits service providers once an offer is completed see our “offer “section below for a definition of a completed offer. <br>

	If an offer is canceled (for any reason) the funds paid will be returned to the customer. <br>

	Revenues are only made available for withdrawal from the revenue page following the completion of an offer.  Service Providers also have the option of making revenue clearance after multiple Offer completion if you so wish. <br>

	Service Providers may withdraw their revenues using one of iCesspool’s revenue withdrawal options (see withdraw option section below regarding payment terms) <br>

	The Service Providers’ rating is calculated on the Offer evaluation by customers. High rating allows Service Providers to access more offer allocations.  In certain cases, exceedingly low ratings may lead to suspension of the Service Provider’s account. <br>

	For security concerns, iCesspool may temporarily disable a Service Provider’s ability to withdraw revenue to prevent fraudulent or illicit activity. This may come a results of security issues of improper behavior reported by customers. <br>

	Service Providers are responsible for paying and direct or indirect taxes, including VAT, BOP or otherwise which may apply to them depending on the residency or location.  Service Providers represent and warrant that they comply at all times, with their obligation under income tax provision in their jurisdiction.  The service charge is inclusive of all such of all such taxes and charge that may apply to the sellers. <br>

	Appointment as limited payment collection Agent: Service Provider hereby appoints iCesspool Limited as the Service Providers limited authorized payment collection agent for the purpose accepting (via its Payment Service Provider if applicable) from customer, and remitting those payment to the Service Provider upon request.  Service Provider agree that payment from customer to iCesspool shall be considered the same as payment made directly to Service Provider.  Customer’s payment obligation to Service Provider will be satisfied upon receipt of payment by iCesspool (or its Payment Service Provider, as applicable) is responsible for remitting the funds to the Service Provider in the manner describe in these terms of reference.  In the event that, iCesspool (via its Payment Service Provider) does not remit any such amount to Service Provider, the seller will have recourse only, against iCesspool and not the customer directly. Service Provider agree that iCesspool may describe or otherwise reflect the terms of service, receipts, disclosures, or notices including, but not limited to, receipt provided to customers that iCesspool may deem necessary or prudent. <br>

	iCesspool partners with Payment Services Providers for the purpose of collecting service charge from customers, transferring such payments from customers to Service Providers and holding funds in connection with revenue balances. All payments services in connection with the withdrawal of funds on the iCesspool platform are performed by iCesspool Payment Service Providers. <br>

Customers can contact iCesspool customer support unit for further assistance on our terms of service

</body>
</html>